li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
.friendList {
    margin-top: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: solid 1px;
    
}
.itemF {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.status{
    width: 20px;
    height: 20px;
}